hr{
  position: relative;
  top: 300px;
  height: 3px;
  background-color: black;
}
button{
  width: 120px;
  height: 40px;
}
.header{
  margin: auto;
  width: 1200px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.main{
  width: 1200px;
  height: 600px;
  background-color: #00ffff;
  margin: auto;
  border-radius: 10px;
}
