hr{
  position: relative;
  top: 300px;
  height: 3px;
  background-color: black;
}
button{
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 0;
  background-color: #deb887;
  font-weight: bold;
}
.header{
  margin: auto;
  width: 1200px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.main{
  width: 1600px;
  height: 600px;
  background-color: #e6e6fa;
  margin: auto;
  border-radius: 20px;
  padding: 50px 0;
}
.sky{
  width: 1200px;
  height: 300px;
  background-color: #b0e0fa;
  margin:auto;
  border-radius: 10px 10px 0 0;
  border: solid 2px;
  position: relative;
}
.underwater{
  width: 1200px;
  height: 300px;
  background-color: #00ffff;
  margin: auto;
  border: solid 2px;
  border-radius: 0 0 10px 10px;
}

.transport {
  position: absolute;
  height: 20px;
  width: 100px;
  background-color: #dc143c;
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  transition: all 0.3s;
}
.buttons-container{
  display: flex;
  flex-wrap: wrap;
  width:120px;
  height:120px;
  position: relative;
  float: right;
  right:25px;
  bottom: 200px;
}
.move {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 5px;
  font-size: 1.5em;
  color: #ffffff;
  background-color: green;
}
